extends layout

block content
  script(type='text/javascript', src='/js/main.js')
  h1#title= title
  h2#subtitle A library of data portraits of books, short stories, essays and plays.
  section#browse
    h3 BROWSE COLLECTION
    ul
      li 
        a(href='/color/hp1') Harry Potter and the Philosopher's Stone
      li 
        a(href='/color/vme') A Very Old Man with Enormous Wings
      li 
        a(href='/color/jc') Julius Caesar
      li 
        a(href='/color/lotr') Lord of the Rings

